.main{
    display: flex;
}
.sid{
    /* flex-direction: left; */
    
}
.top {
    display: flex;
    gap: 20px; 
  }
.bot{
    display: flex;
    gap: 50px;
    padding-top: 10x;
}
.tab{
    /* flex-direction: left; */
    /* height: 200px; */
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .midd {
    display: flex;
    flex: 1;
    flex-direction: column;
  } */
.gd{
    text-align: start;
    display: flex;
    justify-content: space-between;
}

